<launch>
    <arg name="spacecraft" />
    <arg name="target"/>

    <!-- Launch Filter -->
    <node pkg="relnav_sensor_arn" name="arn_sensor" type="relnav_sensor_arn.py" output="screen">
        <remap from="chaser_oe" to="/$(arg spacecraft)/oe" />
        <remap from="target_oe" to="/$(arg target)/oe" />
        <remap from="aon" to="/$(arg spacecraft)/aon"/>
        <remap from="aon_observation" to="/$(arg spacecraft)/aon_observation"/>
    </node>

</launch>
