<launch>

    <!-- Launch Filter -->
    <node pkg="relnav_sensor_arn" name="arn_sensor" type="relnav_sensor_arn.py" output="screen">
            <remap from="chaser_oe" to="/chaser/oe" />
            <remap from="target_oe" to="/target/oe" />
   	        <param name="publish_rate" value="1.0" />
            <param name="~sensor/max_range" value="1e7" />
            <param name="~sensor/fov_x" value="6.28" />
            <param name="~sensor/fov_y" value="6.28" />
            <param name="~sensor/mu" value="0.000484814 0.0 0.05" />
            <param name="~sensor/sigma" value="0.000116355 0.000116355 0.025" />
            <param name="~sensor/position" value="0.0 0.0 0.0" />
            <param name="~sensor/pose" value="0 0 0 1" />
    </node>

</launch>

